<a href="https://colab.research.google.com/github/gabriellemacinnes/Equivalence-classes/blob/main/equivalence_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
'''
data=pd.read_table('https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt', delimiter = ' ')
df = data[data['a'].str.len() == 3]
data
'''

In [ ]:
data=pd.read_table('sample_data/english3.txt', delimiter = ' ')
df = data[data['a'].str.len() == 3]
data

                  a
0                aa
1               aaa
2            aachen
3          aardvark
4         aardvarks
...             ...
194427  zymotically
194428      zymurgy
194429       zyrian
194430      zyrians
194431       zythum

[194432 rows x 1 columns]

In [ ]:
alph = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
ls = [[ [] for i in range(len(alph)) ] for i in range(len(alph))]

In [ ]:
for word in df['a']:
  first = word[0]
  last = word[2]
  ls[alph.index(first)][alph.index(last)].append(word)

In [ ]:
#print(ls[0][0])
k = 0
for i in ls:
  for j in i:
    if len(set(j)) == 5:
      print(set(j))
      k += 1

print(k)
print(set(ls[0][4]))

{'bud', 'bod', 'bad', 'bid', 'bed'}
{'bug', 'big', 'beg', 'bog', 'bag'}
{'ben', 'bon', 'bin', 'bun', 'ban'}
{'bos', 'bys', 'bus', 'bas', 'bis'}
{'cui', 'chi', 'cbi', 'cri', 'coi'}
{'cut', 'cit', 'cat', 'cot', 'cwt'}
{'dab', 'deb', 'dob', 'dub', 'dib'}
{'dan', 'dun', 'din', 'den', 'don'}
{'duo', 'doo', 'dso', 'dzo', 'deo'}
{'ein', 'ern', 'eon', 'ean', 'een'}
{'fen', 'fin', 'fun', 'fan', 'fon'}
{'fir', 'for', 'far', 'fur', 'fer'}
{'fay', 'fry', 'fey', 'foy', 'fly'}
{'han', 'hen', 'hun', 'hon', 'hin'}
{'hut', 'hot', 'het', 'hit', 'hat'}
{'ira', 'ida', 'ina', 'ita', 'iba'}
{'ice', 'ile', 'ide', 'ike', 'ire'}
{'iso', 'ito', 'ilo', 'ibo', 'ido'}
{'ids', 'its', 'ios', 'ifs', 'ins'}
{'leg', 'lig', 'lag', 'lug', 'log'}
{'lis', 'lys', 'las', 'los', 'les'}
{'mog', 'mig', 'meg', 'mug', 'mag'}
{'mem', 'mom', 'mum', 'mim', 'mam'}
{'nob', 'nub', 'nib', 'neb', 'nab'}
{'nym', 'nam', 'nom', 'nim', 'nem'}
{'nut', 'not', 'net', 'nit', 'nat'}
{'oba', 'ova', 'oca', 'ora', 'oda'}
{'ped', 'pud', 'pod', 'pad', 'phd'}
{'pye', 'poe', 'pie', 'pre', 'pee'}
{'pin', 'pan', 'pun', 'pon', 'pen'}
{'pop', 'pep', 'pup', 'pip', 'pap'}
{'pos', 'pas', 'pps', 'pis', 'pus'}
{'ric', 'rac', 'roc', 'rec', 'ruc'}
{'rod', 'rad', 'rud', 'rid', 'red'}
{'rae', 'rye', 'ree', 'rue', 'roe'}
{'rim', 'ram', 'rem', 'rum', 'rom'}
{'run', 'rin', 'ren', 'ran', 'ron'}
{'rit', 'rut', 'rot', 'rat', 'ret'}
{'tom', 'tem', 'tum', 'tim', 'tam'}
{'tan', 'ton', 'ten', 'tun', 'tin'}
{'tap', 'twp', 'tip', 'tup', 'top'}
{'use', 'ute', 'ule', 'ure', 'uke'}
{'uri', 'uni', 'uti', 'uzi', 'ubi'}
{'uto', 'udo', 'ufo', 'upo', 'uno'}
{'wee', 'woe', 'wye', 'wae', 'wie'}
{'won', 'win', 'wan', 'wen', 'wyn'}
46
{'abe', 'are', 'ape', 'ave', 'ace', 'age', 'aye', 'ale', 'ake', 'awe', 'ane', 'ate', 'axe'}